@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #101010;
    color: white;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
}

header {
    font-family: 'Montserrat', sans-serif;
    background-image: url('assets/images/MCLogobg.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.header-left h1 {
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.gold-price {
    margin: 0 auto;
}

.header-button {
    color: white;
    text-decoration: none;
    padding: 0.7rem 1.4rem;
    background-color: #8B7500;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.4s ease;
}

header a {
    text-decoration: none;
    color: white;
}

.header-button:hover {
    background-color: #FFD700;
    transform: translateY(-3px);
}

section {
    padding: 4rem 2rem;
    text-align: center;
}

section#home {
    background-image: url('assets/images/homebackground.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

section#home h1 {
    font-size: 3.5rem;
    color: #8B7500;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

section#home p {
    font-size: 1.4rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
    opacity: 0.85;
    color: black;
}

.content-image {
    width: 80%;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
    transition: transform 0.3s ease;
}

.content-image:hover {
    transform: scale(1.05);
}

/* VIP Resources Section */
section#vip-resources {
    background-image: url('');
    background-size: cover;
    background-position: center;
    color: white;
    margin: 2rem 0;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

section#vip-resources .resource-header {
    background-image: url('assets/images/binance.jpg');
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

section#vip-resources .resource-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

section#vip-resources .resource-header h1,
section#vip-resources .resource-header h2 {
    position: relative;
    z-index: 1;
}

section#vip-resources h1 {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

section#vip-resources h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    opacity: 0.8;
}

section#vip-resources .resource-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

section#vip-resources .resource-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
}

section#vip-resources .resource-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

section#vip-resources .icon {
    flex-grow: 1;
}

section#vip-resources .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

section#vip-resources .resource-content {
    flex-grow: 1;
}

section#vip-resources .resource-content h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #8B7500;
}

section#vip-resources .resource-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    opacity: 0.85;
}

/* Trading History Section */
section#trading-history {
    background-image: url('assets/images/citybricks.png');
    background-size: cover;
    background-position: center;
    color: white;
    margin: 2rem 0;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

section#trading-history header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

section#trading-history header h1,
section#trading-history header h3 {
    position: relative;
    z-index: 1;
}

section#trading-history h1 {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

section#trading-history h2,
section#trading-history h3 {
    color: white;
}

#pdf-container {
    text-align: center;
    margin: 3rem 0;
}

#pdf-iframe {
    width: 100%;
    height: 80vh;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Pricing Section */
.pricing-section {
    background-image: url('assets/images/yo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 2rem;
}

.pricing-header {
    background-image: url('path/to/your/pricing-header-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    position: relative;
}

.pricing-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.pricing-header h1, .pricing-header h3 {
    position: relative;
    z-index: 1;
}

.pricing-header h1 {
    font-size: 2.8rem;
    color: white;
    margin-bottom: 1rem;
}

.pricing-header h3 {
    font-size: 1.2rem;
    font-weight: normal;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

section#pricing .pricing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

section#pricing .pricing-item {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 2.5rem;
    width: calc(50% - 2rem);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#pricing .pricing-item:hover {
    transform: scale(1.06);
    background-color: rgba(0, 0, 0, 0.8);
}

section#pricing .pricing-item img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 1rem;
    object-fit: cover;
    display: block;
}

section#pricing .pricing-item h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

section#pricing .pricing-item p.price {
    font-size: 1.5rem;
    color: #8B7500;
    margin-bottom: 1.2rem;
}

section#pricing .pricing-item p.description {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

section#pricing .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section#pricing .buttons a {
    text-decoration: none;
}

section#pricing .buttons button {
    background: linear-gradient(to right, #FFD700, #8B7500);
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
}

section#pricing .buttons button:hover {
    transform: scale(1.06);
    background: linear-gradient(to right, #8B7500, #FFD700);
}

section#blog {
    background-image: url('path');
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    margin: 2rem 0;
}

.blog-header {
    background-image: url('assets/images/stretchedgoldbricks.png');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

.blog-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.blog-header h1 {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 2.8rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
.signup-form {
    background-image: url('assets/images/bitcoins.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 2rem 0;
}

.signup-form h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-form label {
    font-size: 1rem;
    color: white;
}

.signup-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    background-color: #8B7500;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #FFD700;
}

.blog-articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.blog-post {
    display: flex;
    background-color: #202020;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    height: 200px; /* Remove fixed height */
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post-image-container {
    width: 25%; /* Set width to 1/4 of the container */
    height: 100%; /* Make it full height of the blog post */
}

.blog-post img {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.blog-content {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

.blog-post h2 {
    font-size: 1.5rem;
    color: #8B7500;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.blog-meta {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 1rem;
}

.read-more {
    display: inline-block;
    background-color: #8B7500;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .blog-post {
        flex-direction: row;
        height: 200px;
        width: auto;
    }

    .blog-post-image-container {
        width: 40%;
        height: auto;
    }

    .blog-content {
        padding: 1rem;
        width: 60%;
    }
    .blog-post h2 {
        font-size: 1.2rem; /* Smaller font size for mobile */
    }

    .blog-meta {
        font-size: 0.8rem; /* Smaller font size for mobile */
    }

    .read-more {
        padding: 0.4rem 0.8rem; /* Smaller padding for mobile */
        font-size: 0.9rem; /* Smaller font size for mobile */
    }
}
